body{
  font-family:'Montserrat';
  font-weight: 400;
}
#inputArea{
  background-color: #f5f7b2;
  color:#1cc5dc;
}
.container-fluid{
  padding:3% 10%;
}
.nameInput{
  padding:3% 0;
}

h1{
  font-family:'Montserrat',sans-serif;
  font-size:3.5rem;
  line-height:1.5;
  font-weight:900;
}
